*{
	padding: 0;
	margin: 0;
}
body{
	overflow: hidden;
}
#content {
	display: none;
}
#content.logged{
	display: block;
}
#gameFrame{
    height: 100vh;
    width: 100vw;
    border: none;
}
#game{
	display: none;
	position: absolute;
    top: 0;
    width: 100vw;
    text-align: center;
}
#game.block{
	display: block;
}
#usernamePicker{
	text-align: center;
    margin-top: 20vh;
}
#usernamePicker>*{
	display: block;
	font-size: 2.5vw;
	margin: 50px auto;
}
#usernamePicker>input{
	border: 2px solid;
}
#userStats>*, #games>*{
	display: block;
	font-size: 2.5vw;
	margin: auto;
}
.hide{
	display: none;
}
.game-started{
	background-color: #1099bb;
}
ul>li{
	cursor: pointer;
}
#loadingScreen{
	display: none;
}
#loadingScreen .circle{
	width: 22vw;
    height: 22vw;
    position: absolute;
    border-radius: 50%;
    border-left: 1.5vw solid #ffffff;
	transition: transform 3s ease-out;
	top: 40vh;
}
#loadingCircles.active .circle:nth-of-type(1){
	transform: rotate(1890deg);
}
#loadingCircles.active .circle:nth-of-type(2){
	margin-left: 11vw;
	transform: rotate(-1890deg);
}
#loadingCircles.active .circle:nth-of-type(3){
	margin-left: 22vw;
	transform: rotate(1890deg);
}
#loadingScreen.active #loadingCircles{
	width: 44vw;
    margin: auto;
}
#loadingScreen.active{
	display: block;
}
#loadingBackground{
	height: 100vh;
    width: 100vw;
    position: absolute;
    background: #1099bb;
    top: 0;
}